#jumbotron {
    text-align: center;
    background: blueviolet;
}

h1 {
    color: white;
    font-size: 40px;
    font-weight: bolder;
}

h5 {
    color: white;
    font-weight: bold;
    font-size: 16px;
}

body {
    background: URL(../images/polar.jpg);
    background-size: cover;
}